/* for text editor */
.text-tiny {
    font-size: 0.7em;
}

.text-small {
    font-size: 0.85em;
}

.text-big {
    font-size: 1.4em;
}

.text-huge {
    font-size: 1.8em;
}

body {
    font-family: 'Inter var', 'Helvetica', 'sans-serif';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', 'Times New Roman', 'serif';
}